<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ning3f1.wechat.dao.StuCourseMapper" >
  <resultMap id="BaseResultMap" type="cn.ning3f1.wechat.domain.StuCourse" >
    <id column="course_id" property="courseId" jdbcType="CHAR" />
    <id column="stu_id" property="stuId" jdbcType="CHAR" />
    <result column="course_name" property="courseName" jdbcType="CHAR" />
    <result column="credit" property="credit" jdbcType="CHAR" />
    <result column="stu_grade" property="stuGrade" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    course_id, stu_id, stu_grade
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.ning3f1.wechat.domain.StuCourseKey" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from stu_course
    where course_id = #{courseId,jdbcType=CHAR}
      and stu_id = #{stuId,jdbcType=CHAR}
  </select>
  
 <select id="courseScore" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from stu_course
    where course_id = #{1,jdbcType=CHAR}
      and stu_id = #{0,jdbcType=CHAR}
  </select>
  
  <select id="courseAllScore" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select stu.course_id,stu.stu_id,stu.stu_grade,
    c.course_name,c.credit
    from stu_course stu,course c
    where stu.course_id = c.course_id
      and stu_id = #{0,jdbcType=CHAR}
  </select>
  
    <select id="courseScoreByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select stu.course_id,stu.stu_id,stu.stu_grade,
    c.course_name,c.credit
    from stu_course stu,course c
    where stu.course_id = c.course_id
      and stu.stu_id = #{0,jdbcType=CHAR} and c.course_name like #{1,jdbcType=CHAR}
  </select>
  
 
  <select id="AllScore" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select stu.course_id,stu.stu_id,stu.stu_grade,
    c.course_name,c.credit
    from stu_course stu,course c
    where stu.course_id = c.course_id
  </select>
  
  <select id="AllScoreByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select stu.course_id,stu.stu_id,stu.stu_grade,
    c.course_name,c.credit
    from stu_course stu,course c
    where stu.course_id = c.course_id and c.course_name like  #{0,jdbcType=CHAR}
  </select>
  <select id="getAllInfo_page" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from stu_course
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="cn.ning3f1.wechat.domain.StuCourseKey" >
    delete from stu_course
    where course_id = #{courseId,jdbcType=CHAR}
      and stu_id = #{stuId,jdbcType=CHAR}
  </delete>
  
  <delete id="deleteBystuId" parameterType="java.lang.String" >
    delete from stu_course
    where  stu_id = #{stuId,jdbcType=CHAR}
  </delete>
 
  <delete id="delScore" parameterType="java.lang.String" >
    delete from stu_course
    where  stu_id = #{1,jdbcType=CHAR}
    and    course_id = #{0,jdbcType=CHAR}
  </delete>  
  <insert id="insert" parameterType="cn.ning3f1.wechat.domain.StuCourse" >
    insert into stu_course (course_id, stu_id, stu_grade
      )
    values (#{courseId,jdbcType=CHAR}, #{stuId,jdbcType=CHAR}, #{stuGrade,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.ning3f1.wechat.domain.StuCourse" >
    insert into stu_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="stuId != null" >
        stu_id,
      </if>
      <if test="stuGrade != null" >
        stu_grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId,jdbcType=CHAR},
      </if>
      <if test="stuId != null" >
        #{stuId,jdbcType=CHAR},
      </if>
      <if test="stuGrade != null" >
        #{stuGrade,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  
  <insert id="addstuScore" parameterType="java.lang.String" >
    insert into stu_course (course_id, stu_id, stu_grade
      )
    values (#{0,jdbcType=CHAR}, #{1,jdbcType=CHAR}, #{2,jdbcType=REAL}
      )
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="cn.ning3f1.wechat.domain.StuCourse" >
    update stu_course
    <set >
      <if test="stuGrade != null" >
        stu_grade = #{stuGrade,jdbcType=REAL},
      </if>
    </set>
    where course_id = #{courseId,jdbcType=CHAR}
      and stu_id = #{stuId,jdbcType=CHAR}
  </update>

  <update id="scoreupdate" parameterType="java.lang.String" >
    update stu_course 
    set stu_grade = #{2,jdbcType=REAL}
    where course_id = #{0,jdbcType=CHAR}
      and stu_id = #{1,jdbcType=CHAR}
  </update>
    
  <update id="updateByPrimaryKey" parameterType="cn.ning3f1.wechat.domain.StuCourse" >
    update stu_course
    set stu_grade = #{stuGrade,jdbcType=REAL}
    where course_id = #{courseId,jdbcType=CHAR}
      and stu_id = #{stuId,jdbcType=CHAR}
  </update>
</mapper>